.page-user .page-info .mod-info .pic {
    padding-left: 0.8rem;
    line-height: 1rem;
    background: url("../../../images/icon-head.png") 0.15rem center no-repeat #121C25;
    background-size: 0.5rem;
    font-size: 0.16rem;
}

.page-user .page-strategy-group{
    background-color: #0E1821;
}