.page-mine .page-mine-list .mod-if ul {
    display: table;
    width: 99%;
    padding: 0.1rem 0;
}

.page-mine .page-mine-list .mod-if li {
    display: table-cell;
    width: 33%;
    text-align: center;
    font-size: .12rem;
}

.page-mine .page-mine-list .mod-if .info {
    font-size: 0.16rem;
}

.page-mine .page-mine-list .mod-if .info .iconfont{
    font-size: 0.06rem;
    vertical-align: 0.01rem;
    margin-right: 0.03rem;
}

.page-mine .page-mine-list .mod-if .low dd {
    color: #41FFAD;
}

.page-mine .page-mine-list .mod-if .high dd {
    color: #E8003F;
}

.page-mine .page-mine-list .mod-stock-add {
    padding-top: 1rem;
}

.page-mine .page-mine-list .mod-stock-add a {
    display: block;
    width: 1.4rem;
    padding-top: 1.5rem;
    margin: 0 auto;
    text-align: center;
    color: #999999;
    background: url("../../../images/add-bg.png") top center no-repeat;
    background-size: 1.4rem;
}

.page-mine .page-mine-list .mod-stock {
    padding: 0 0.1rem;
    background-color: #121C25;
}
/*.page-mine .page-mine-list .mod-stock .title {
    background: none;
    height: 0.36rem;
}*/

.page-mine .page-mine-list .mod-stock tr {
    /*background-color: #121C25;*/
    border-bottom: 0.01rem solid #1C262F;
}

.page-mine .page-mine-list .mod-stock tr:last-child {
    border-bottom: none;
}

.page-mine .page-mine-list .mod-stock td {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}

.page-mine .page-mine-list .mod-stock td p {
    font-size: 0.12rem;
    color: #999999;
}

.page-mine .page-mine-list .mod-stock td p.stock-code {
    padding-left: 0.24rem;
}

.page-mine .page-mine-list .mod-stock .price,
.page-mine .page-mine-list .mod-stock .limit {
    font-size: 0.18rem;
}

.page-mine .page-mine-list .mod-stock .frontIcon>i{
    font-size: 0.1rem;
    border: 0.01rem solid #DB4E54;
    background: #DB4E54;
    border-radius: 0.02rem;
    padding: 0 0.02rem;
    line-height: 0.13rem;
    margin-right: 0.03rem;
}

/*.page-mine .page-mine-list .mod-stock .limit span {
    display: inline-block;
    width: 1.01rem;
    text-align: center;
    padding: 0.05rem 0;
}*/

.page-mine .page-mine-list .mod-stock .limit .high {
    /*background-color: #E8003F;*/
    color: #E8003F;
}

.page-mine .page-mine-list .mod-stock .limit .low {
    /*background-color: #41FFAD;*/
    color: #41FFAD;
}

.page-mine .page-mine-list .mod-stock .limit .same {
    /*background-color: #ECECEC;*/
    color: #999999;
}

.page-mine .page-mine-list .mod-stock tr th:first-child,
.page-mine .page-mine-list .mod-stock tr td:first-child {
    padding-left: 0.1rem;
}

.page-mine .page-mine-list .mod-stock tr th:last-child,
.page-mine .page-mine-list .mod-stock tr td:last-child {
    padding-right: 0.1rem;
    text-align: right;
}