<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <title>微策略</title>
    <link rel="stylesheet" href="../css/common/merge.css">
    <link rel="stylesheet" href="../css/page/pay/merge.css">
</head>
<body>
    <section id="" class="page-pay">
        <div class="page-add-bank-card">
            <header class="page-header">
                <div class="header-wrap">
                    <h3>添加银行卡</h3>
                    <a href="payBank.html" class="nav-left"><i class="icon-back"></i></a>
                </div>
            </header>
            <div class="mod-add-bank-card">
                <div class="title">为确保资金安全，只能添加“李晓明”的银行卡</div>
                <div>
                    <ul class="list">
                        <li>
                            <span>开户名</span>
                            <span>李晓明</span>
                        </li>
                        <li>
                            <span>开户银行</span>
                            <span>请选择银行</span>
                            <i class="mod-arrow-r"></i>
                        </li>
                        <li>
                            <span>开户所在省</span>
                            <span>请选择省</span>
                            <i class="mod-arrow-r"></i>
                        </li>
                        <li>
                            <span>开户所在市</span>
                            <span>请选择市</span>
                            <i class="mod-arrow-r"></i>
                        </li>
                        <li>
                            <span>开户支行</span>
                            <span>开户支行</span>
                            <i class="mod-arrow-r"></i>
                        </li>
                    </ul>
                    <ul class="list mt20">
                        <li>
                            <span>银行卡号</span>
                            <span><input ng-model="form" type="text" class="inp" placeholder="请输入银行卡号"></span>
                        </li>
                        <li>
                            <span>确认卡号</span>
                            <span><input ng-model="form.password" type="password" class="inp" placeholder="确认银行卡号"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="pt20 pl15 pr15">
                <button class="btn btn-red">确定</button>
            </div>
        </div>
    </section>
</body>
</html>