<section id="" class="page-guide">
    <div class="page-activity">
        <header class="page-header">
            <div class="header-wrap">
                <h3>活动中心</h3>
            </div>
        </header>
        <div class="mod-act-list">
            <a href="#/myPacket" class="list-option">
                <img src="/app/images/activity/packet/banner.png">
            </a>
            <span class="list-option list-expect">
                各项活动敬请期待
            </span>
        </div>
    </div>
</section>