<section class="page-trade">
    <div class="page-trade-agree">
        <header class="page-header">
            <div class="header-wrap">
                <h3>协议签署</h3>
                <!--<a class="nav-left" href="#{{backURL}}">-->
                    <!--<i class="icon-back"></i>-->
                <!--</a>-->
                <back-menu></back-menu>
            </div>
        </header>
        <div class="mod-agree">
            <p class="tips">重要提示：<br>请您务必在参与平台实盘交易前详细阅读本规则，并明白平台交易的风险性。</p>
            <div class="">
                <div class="pb5">
                    <label><input id="agreement" type="checkbox" checked/> 我已阅并签署以下协议</label>
                </div>
                <p class="pl10">
                    <a href="#/agreementSaletor" class="txt-blue">《平台点买人参与沪深A股交易合作涉及费用及资费标准》</a><br>
                    <a href="#/agreementInvestor" class="txt-blue">《平台投资人与点买人参与沪深A股交易合作协议》</a><br>
                    <a href="#/agreementTrade" class="txt-blue">《平台服务协议》</a>
                </p>
            </div>
        </div>
        <div class="wrap-btn">
            <div class="wrap">
                <button class="btn btn-orange" ng-click="singAgreement();">确认</button>
            </div>
        </div>
    </div>
</section>