<section class="page-guide">
    <div class="page-introduce">
        <header ng-if="showHeader" class="page-header">
            <div class="header-wrap">
                <h3>一分钟介绍</h3>
                <back-menu></back-menu>
            </div>
        </header>
        <div class="mod-intro-img">
            <!--<img src="/app/images/introduce/introduce1.jpg"/>
            <img src="/app/images/introduce/introduce2.jpg"/>
            <img src="/app/images/introduce/introduce3.jpg"/>
            <img src="/app/images/introduce/introduce4.jpg"/>
            <img src="/app/images/introduce/introduce5.jpg"/>
            <img src="/app/images/introduce/introduce6.jpg"/>
            <img src="/app/images/introduce/introduce7.jpg"/>-->
            <img src="/app/images/introduce/introduce8.jpg"/>
        </div>
        <div class="mod-intro-button">
            <a ng-click="toTrade();">现在前往 点买A股<i></i></a>
        </div>
    </div>
</section>