<section class="page-user">
    <div class="page-my">
        <header class="page-header">
            <div class="header-wrap">
                <h3>{{user.username}}</h3>
                <a href="#/help?backURL=/myHome" class="nav-left"><i class="icon-msg"></i></a>
                <a href="#/myInfo" class="nav-right"><i class="icon-setting"></i></a>
            </div>
        </header>
        <div class="mod-userinfo">
            <div class="balance-wrap">
                <p>账户余额</p>
                <p class="txt-s40">{{balance}}</p>
            </div>
            <!--<ul class="pay-wrap">
                <li class="pr15">
                    <a href="#/payType?backURL=/myHome">充值</a>
                </li>
                <li class="pl15">
                    <a ng-click="doWithdraw();">提现</a>
                </li>
            </ul>-->

            <ul class="pay-wrap">
                <li class="pr15">
                    <a href="#/payType" class="logined">充值</a>
                </li>
                <li class="pl15">
                    <a ng-click="doWithdraw();" class="logined">提现</a>
                </li>
            </ul>
        </div>
        <!--<div class="mod-menu">
            <a href="#/fund" class="link-trade-list">
                资金明细<i class="mod-arrow-r"></i>
            </a>
            <a href="#/notice" class="link-topic">
                公告信息<i class="mod-arrow-r"></i>
            </a>
        </div>-->

        <div class="my-operates">
            <div class="mod-menu">
                <a href="#/myStrategyGroup" class="bb-gray link-strategy-group pl30">
                    我的策略组<i class="mod-arrow-r"></i>
                </a>
                <a href="#/suspendStocks" class="link-suspended-strategy pl30">
                    停牌策略<i class="mod-arrow-r"></i>
                </a>
            </div>
            <div class="mod-menu">
                <a href="#/fund" class="mt20 bb-gray link-trade-list pl30">
                    资金明细<i class="mod-arrow-r"></i>
                </a>
                <a href="#/myPacket" class="bb-gray link-packet pl30">
                    我的红包<i class="mod-arrow-r"></i>
                </a>
                <a href="#/attention" class="link-attention pl30">
                    关注微信<i class="mod-arrow-r"></i>
                    <span class="fr txt-yellow pr30 txt-s12">关注领红包</span>
                </a>
            </div>
        </div>
        <footer class="page-footer">
            <div class="footer-wrap">
                <ul>
                    <li>
                        <a href="#/index" class="nav-home">
                            <span></span>首页
                        </a>
                    </li>
                    <li>
                        <a href="#/trade?backURL=/myHome" class="nav-trade">
                            <span></span>交易
                        </a>
                    </li>
                    <li>
                        <a href="#/mine" class="nav-mine">
                            <span></span>自选
                        </a>
                    </li>
                    <li>
                        <a href="#/discover" class="nav-discover">
                            <span></span>发现
                        </a>
                    </li>
                    <li>
                        <a href="#/myHome" class="nav-user">
                            <span></span>我的
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</section>