<section class="page-user">
    <div class="page-info">
        <header class="page-header">
            <div class="header-wrap has-border-b">
                <h3>我的信息</h3>
                <!--<a href="#/myHome" class="nav-left"><i class="icon-back"></i></a>-->
                <a href="#/myHome" class="nav-left"><i class="icon-back"></i></a>
            </div>
        </header>
        <div class="mod-info">
            <div class="pic">
                {{user.username}}
            </div>
            <div class="mod-menu-wrap mt10">
                <a ng-if="!user.named" class="mod-menu" href="#/identification">
                    <span class="fr mr20">未认证</span>
                    实名认证
                    <i class="mod-arrow-r"></i>
                </a>
                <div ng-if="user.named" class="mod-menu">
                    <span class="fr mr20">{{user.nameVerifyStatus}}</span>
                    实名认证
                </div>
                <!--<div class="mod-menu">
                    <span class="fr mr30">{{user.loginMobile}}</span>
                    手机号码
                    <i class="mod-arrow-r"></i>
                </div>-->
                <a class="mod-menu" href="#/phoneBind1">
                    <span class="fr mr30">{{user.loginMobile}}</span>
                    手机号码
                    <i class="mod-arrow-r"></i>
                </a>
                <a ng-click="goCheckAli()" ng-if="!user.bindingAlipayAccount" class="mod-menu">
                    <span class="fr mr30 txt-grey">未认证</span>
                    支付宝账户认证
                    <i class="mod-arrow-r"></i>
                </a>
                <a ng-if="user.bindingAlipayAccount" class="mod-menu" ng-click="telTip()">
                    <span class="fr mr30 txt-blue">已认证</span>
                    支付宝账户认证
                    <i class="mod-arrow-r"></i>
                </a>
            </div>
            <div class="mod-menu-wrap mt10">
                <a class="mod-menu" href="#/userPassModify">
                    <span class="fr mr30 txt-grey">修改</span>
                    登录密码
                    <i class="mod-arrow-r"></i>
                </a>
                <a ng-if="!user.withdrawPw" class="mod-menu" href="#/tradePassSet">
                    <span class="fr mr30 txt-grey">未设置</span>
                    提现密码
                    <i class="mod-arrow-r"></i>
                </a>
                <a ng-if="user.withdrawPw" class="mod-menu" href="#/tradePassModify">
                    <span class="fr mr30 txt-grey">修改</span>
                    提现密码
                    <i class="mod-arrow-r"></i>
                </a>
            </div>
            <div ng-if="!bankCards.length" class="mod-menu-wrap mt10">
                <a class="mod-menu" href="#/bankCardList">
                    <span class="fr mr30 txt-grey">未绑定</span>
                    我的银行卡
                    <i class="mod-arrow-r"></i>
                </a>
            </div>
            <div ng-if="bankCards.length" class="mod-menu-wrap mt10">
                <a class="mod-menu" href="#/bankCardList">
                    <span class="fr mr30 txt-grey">{{bankCards.length}}张</span>
                    我的银行卡
                    <i class="mod-arrow-r"></i>
                </a>
            </div>
        </div>
        <div class="pt30 pl15 pr15 pb30">
            <button class="btn btn-orange" ng-click="logout()">退出登录</button>
        </div>
    </div>
</section>