<section id="" class="page-user">
    <div class="page-myPacket" ng-if="packetFund.tipAllBalance==0">
        <header class="page-header">
            <div class="header-wrap">
                <h3>我的红包</h3>
                <a href="#/myHome" class="nav-left"><i class="icon-back"></i></a>
            </div>
        </header>
        <ul class="mod-mypacket-head">
            <li>我收到的红包<p class="txt-white">{{packetFund.tipAllBalance.toFixed(2)}}<em>元</em></p></li>
            <li>红包余额<p class="txt-white">{{packetFund.tipBalance.toFixed(2)}}<em>元</em></p></li>
        </ul>
        <div class="mod-actpacket-space mt15">
            <div class="wrap txt-center pt50 pb50">
                <img src="/app/images/activity/packet/space-icon.png" alt="" width="91px">
                <div class="txt-grey">
                    您还没有获得红包，
                    <p>快来参加活动，红包正在召唤你</p>
                </div>
            </div>
        </div>
        <div class="pt30 pl15 pr15 pb30">
            <a class="btn btn-yellow txt-s16" href="#/activityCenter">更多红包活动</a>
        </div>
    </div>
    <div class="page-myPacket" ng-if="packetFund.tipAllBalance!=0">
        <header class="page-header">
            <div class="header-wrap">
                <h3>我的红包</h3>
                <a href="#/myHome" class="nav-left"><i class="icon-back"></i></a>
            </div>
        </header>
        <ul class="mod-mypacket-head">
            <li>我收到的红包<p class="txt-red">{{packetFund.tipAllBalance.toFixed(2)}}<em>元</em></p></li>
            <li>红包余额<p class="txt-red">{{packetFund.tipBalance.toFixed(2)}}<em>元</em></p></li>
        </ul>
        <div class="mod-actpacket-list mt15">
            <div class="wrap">
                <div class="list" ng-repeat="item in items">
                    <div class="tit">
                        <p class="txt-s14 txt-white" ng-bind="packetTitle[item.title][item.type-1] || '&nbsp;'"></p>
                        <p class="desc">{{item.time| date:'MM-dd HH:mm'}}</p>
                    </div>
                    <span class="fr txt-red txt-s14" ng-if="item.type==1">+{{item.money.toFixed(2)}}元</span>
                    <span class="fr txt-red txt-s14" ng-if="item.type==2">-{{item.money.toFixed(2)}}元</span>
                </div>

                <!--<div ng-if="totalPage != 0 && (pageIndex != totalPage)" class="pt10">
                    <div class="mod-more" ng-click="getPacketRecordList(pageIndex+1);">
                        加载更多
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</section>