<section class="page-guide">
    <div class="page-rule">
        <header ng-if="showHeader" class="page-header">
            <div class="header-wrap">
                <h3>T+D A股交易规则</h3>
                <!--<a href="#{{backURL}}" class="nav-left">
                    <i class="icon-back"></i>
                </a>-->
                <back-menu></back-menu>
            </div>
        </header>
        <div class="mod-trade-rule">
            <br>
            <div class="wrap">
                <h3>什么是点买人，什么是投资人 <i></i></h3>
                <p>
                    点买人是指策略提供人，通过平台发布股票买卖策略，如选择什么股票，买多少股，止盈点是多少，止损点是多少，何时买入，何时卖出；投资人是实际购买股票的自然人或者法人，投资人提供资金，证券账号，自由选择平台上的股票策略，根据实际情况匹配，并严格近日策略要求买卖股票。</p>
            </div>
            <div class="wrap">
                <h3>什么是点买交易？<i></i></h3>
                <p>
                    点买交易是本平台通过点买人发起股票策略（选择股票，选择购买数量，设置止盈止损），平台收集这些策略后转发给所以投资人，投资人根据自己选择是否匹配，如匹配成功，则点买人与投资人生成一个协议，投资人按点买人的策略要求执行买入对于股票操作，如盈，按一定比例分成，如亏损，按一定比例各自承担！</p>
            </div>
            <div class="wrap">
                <h3>点买时间是什么时候？<i></i></h3>
                <p>股票交易日的上午09:30-11:30，下午13:00-14:55</p>
            </div>
            <div class="wrap">
                <h3>持仓时间是多久？<i></i></h3>
                <p>T+D A股交易，持仓时间按交易日计算，最短为15天，最长为30天（即当天买入，不可以当天卖出），第二天即可卖出，另外，持仓15天或者30天到期后可卖出。</p>
            </div>
            <div class="wrap">
                <h3>什么是递延条件？<i></i></h3>
                <p>递延条件是，当可操盘资金低于递延条件时，只能点卖不能点买。</p>
            </div>
            <div class="wrap">
                <h3>什么是止盈？<i></i></h3>
                <p>止盈是该条策略的盈利线，当达到预设的止盈点的时候，系统会自动发起卖出指令给投资人。</p>
            </div>
            <div class="wrap">
                <h3>什么是止损？<i></i></h3>
                <p>止损是该条策略的亏损线，当达到预设的止损点的时候，系统会自动发起卖出指令给投资人。</p>
            </div>
            <div class="wrap">
                <h3>什么是交易综合费？<i></i></h3>
                <p>
                    交易综合费是由点买人每次发起新的策略时平台收取的服务费用，撮合成功收费，撮合失败不收费，费用包含充值提现费，平台居间费，第三方风控劳务费等（数据仅供参考，以实际平台公布为准。）</p>
            </div>
            <div class="wrap">
                <h3>什么是履约保证金？<i></i></h3>
                <p>履约保证金是点买人委托平台冻结在三方支付公司，用于策略亏损时的赔付金额，如盈利，全额返还。如亏损，按实际亏损赔付，且履约保证金为赔付上限，超出亏损部分由投资人自己承担。</p>
            </div>
            <div class="wrap">
                <h3>停牌股要怎么处理？<i></i></h3>
                <p>
                    当T+D期间点买人策略中股票遇到停牌时，点买人可以在T+D结束前继续持有，也可以选择放弃或买断该策略。当T+D时间到期前三个交易日，点买人必须做出选择是放弃本条策略，或者全额买断本条策略，如果放弃策略，扣除策略对应市值的履约保证金，策略中股票归投资人所有，复牌后所有盈利或者亏损与点买人无关；如果点买人选择全额买断策略，点买人按点买成交价补缴相应的金额，复牌后所有盈利或亏损与投资人无关，100%归点买人所有；若T+D到期前三个交易日，点买人不选择递延，也不选择买断，则默认为选择放弃。
                </p>
            </div>
            <div class="wrap">
                <h3>盈亏怎么结算？<i></i></h3>
                <p>
                    如策略盈利，点买人获得盈利部分的90%，投资人获得盈利部分的10%（具体分成方式以协议或平台公告为准，次数据仅为参考）；如策略亏损，点买按实际亏损情况将履约保证金为赔付上限。如有超额亏损，由投资人自己承担？
                </p>
                <p>
                    例：盈利1000元，点买人获利1000*90%=900元，投资人获利100元。
                </p>
            </div>
            <div class="wrap">
                <h3>点买，点卖时出现部分成交后怎么结算？<i></i></h3>
                <p>点买时因行情波动原因，无法全部按策略的数量买入时，以实际买入数量为准；点卖时因行情波动原因，无法全部卖出，需等到全部卖出后方可清算。</p>
            </div>
        </div>
    </div>
</section>