<section class="page-user">
    <div class="page-trade-pass">
        <header class="page-header">
            <div class="header-wrap">
                <h3>设置提现密码</h3>
                <!--<a href="#{{backURL}}" class="nav-left"><i class="icon-back"></i></a>-->
                <back-menu></back-menu>
            </div>
        </header>
        <div class="mod-form-wrap mt10">
            <div class="mod-form">
                <label>提现密码</label><input minlength="6" ng-model="password" type="password" class="inp" placeholder="请输入提现密码"/>
            </div>
            <div class="mod-form">
                <label>确认密码</label><input minlength="6" ng-model="surePassword" type="password" class="inp" placeholder="请再次确认提现密码"/>
            </div>
        </div>
        <div class="pt30 pl15 pr15">
            <button class="btn btn-{{btnState}}" ng-click="tradePassSet()">确定</button>
        </div>
    </div>
</section>