.day-gain-content {
    background-color: #121C25;
    margin-top: 0.14rem;
    padding: 0 0.1rem;
}

.day-gain-content ul {
    display: block;
    height: 0.44rem;
    border-bottom: 0.01rem solid #1C262F;
}

.day-gain-content ul:last-child {
    border-bottom: none;
}

.day-gain-content ul li {
    width: 33.33%;
    float: left;
    line-height: 0.44rem;
    text-align: center;
}

.day-gain-content ul:nth-child(2) .list-NO {
    background: url('/app/images/activity/rank/NO1.png') center center no-repeat;
    background-size: 0.24rem;
}

.day-gain-content ul:nth-child(3) .list-NO {
    background: url('/app/images/activity/rank/NO2.png') center center no-repeat;
    background-size: 0.24rem;
}

.day-gain-content ul:nth-child(4) .list-NO {
    background: url('/app/images/activity/rank/NO3.png') center center no-repeat;
    background-size: 0.24rem;
}