.page-guide .page-introduce .mod-intro-img img {
    display: block;
    width: 100%;
}

.page-guide .page-introduce .mod-intro-button {
    height: 1.5rem;
    width:100%;
    background-color: #FF473B;
    text-align: center;
}


.page-guide .page-introduce .mod-intro-button a{
    display: inline-block;
    margin-top: 0.45rem;
    height: 0.58rem;
    width: 2.55rem;
    background: url("../../../images/introduce-button.png") center no-repeat;
    background-size: 2.55rem;
    font-size: 0.2rem;
    color: #f6514b;
    line-height: 0.54rem;
}

.page-guide .page-introduce .mod-intro-button i {
    display: inline-block;
    width:0.2rem;
    height: 0.2rem;
    background: url("../../../images/introduce-arrow.png") center no-repeat;
    background-size: 0.2rem;
    margin: 0 0 0 0.1rem;
    vertical-align: -0.03rem;
}